/* .my-cols{
  width: calc(100%/3);
  float: left;
} */

/* The following formats the content whose id = sort_dropdown*/
#sort_dropdown{
  width: 10%;
  height: 50%;
  display: inline-block;
  vertical-align: middle;
}

#widget_name, #natural_language_input{
  width: 100%;
  display: block;
}

#group_attribute, #chart_type_dropdown{
  display: inline;
}

/* #chart_type_dropdown{
  width: 10%;
  height: 50%;
  display: inline-block;
  vertical-align: middle;
} */
/* #search_result{
  height: auto;
} */
/* Style all tabless*/
/* table{
  width: 65%;
  height: 100%;
  overflow: scroll;
} */

/* div.scrollable{
  height: 200px;
  width: 1900px;
  overflow: scroll;
}
Table{
  background-color: #bcccbc;
} */
#movie_table, #vote_distribution{
  position: relative;
  left: 0px;
}
